<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="https://pioneersmt.s3.ap-south-1.amazonaws.com/pioneer-full.png" class="w-75 logo-footer" >
                      <h6 class="headers">Reach our HQ</h6>
                      <p>Plot No. 78A, 2nd Floor, Sector 5</p>
                      <p>IMT Manesar Gurgaon - 122050</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6 class="headers">  About Us</h6>
                   <p class="headers"><strong> Pioneer SMT- Customised Solutions</strong></p>
                    <p>Customised TurnKey Solutions to solve your specific business needs </p>
                   <a routerLink = "contact-us" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6 class="headers"> Help us</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a routerLink = "home"> Home</a> </li>
                            <li> <a  routerLink = "introduction"> About Us</a> </li>
                            <li> <a  routerLink = "profile"> Our Business</a> </li>
                            <li> <a  routerLink = "locations"> Locations</a> </li>
                            <li> <a routerLink = "organisation"> Organisation Chart</a> </li>
                            <li> <a routerLink= "contact-us"> Contact</a> </li>
                         </ul>
                      </div>

                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6 class="headers"> Get in Touch</h6>
                   <p class="contactname">Pankaj Sharma - General Manager</p>
                   <p class="contact">M: +91-9811121331</p>
                   <p class="contact">Email : pankaj@pioneersmt.com</p>
                   <br>
                   <p class="contactname">Kushambh Singh - Assistant Manager</p>
                   <p class="contact">M: +91 - 9958076012</p>
                   <p class="contact">Email : sales@pioneersmt.com</p>
                </div>
             </div>
          </div>
        </div>
    </div>
    </footer>