<div class="container" style = "margin-top: 100px;">

    <div class=" row">
        <h1 style="text-align: center !important;"> Our Key Strengths</h1>
    </div>
    <br>
    <div class = "row" >

        
        <div class = "col-4">

            <ul class="list-group">
               <strong> <li class="list-group-item list-group-item-success">CONSULTATIVE SALES FOR TAILORED TECHO COMMERCIAL SOLUTION </li></strong>
                <li class="list-group-item list-group-item-success">PRE SALES DISCUSSION</li>
                <li class="list-group-item list-group-item-success">POST SALES EQUIPMENT SERVICES</li>
                <li class="list-group-item list-group-item-success">CUSTOMIZED SERVICE REQUESTS</li>
            </ul>
        </div>

        <div class = "col-4">

            <ul class="list-group">
               <strong> <li class="list-group-item list-group-item-success">TURNKEY SOLUTION PROVIDER</li></strong>
                <li class="list-group-item list-group-item-success">CUSTOM DESIGNED SOLUTION</li>
                <li class="list-group-item list-group-item-success">SOURCING & INTEGRATION OF EQUIPMENTS & SERVICES</li>
                <li class="list-group-item list-group-item-success">CUSTOMIZED ORDER EXECUTION SERVICES</li>
                <li class="list-group-item list-group-item-success">CUSTOMIZED LOGISTICS SERVICES</li>
            </ul>
        </div>

        <div class = "col-4">

            <ul class="list-group">
               <strong> <li class="list-group-item list-group-item-success">LONG TERM SERVICE SUPPORT & GROUP COMPANY NETWORK </li></strong>
                <li class="list-group-item list-group-item-success">EXPERIENCED SERVICE & TECHNICAL SUPPORT STAFF</li>
                <li class="list-group-item list-group-item-success">CONSUMBLES & FIXTURE SUPPORT</li>
                <li class="list-group-item list-group-item-success">GROUP COMPANY – MAXIM & MST UNIQUE STRENGTH PORTFOLIO</li>
            </ul>
        </div>
    </div>
    <br>
</div>
