<div class="container">
    <div class = "row" style="text-align: center;">
        <h2 style="text-align: center;">Our Organisation</h2>
    </div>

    <div class = "row">
        <div class = "col-4">
            <ul>
                <strong>Office Designations</strong>
                <li>
                    General Manager
                </li>
                <li>Sales</li>
                <li>Customer Support</li>
                <li>Service & tech Support</li>
                <li>Office Admin</li>
            </ul>
        </div>
        <div class = col-4>

        </div>
        <div class = col-4>
            <strong> Number of People</strong>
            <ul>
               
                <li>1</li>
                <li>4</li>
                <li>2</li>
                <li>8</li>
                <li>2</li>
            </ul>
        </div>
    </div>
</div>
