<div class="container">
<div class="row">
    <div class ="col-6" style="margin-top: 100px;">
        <h1><u>OUR OFFICES</u></h1>
        <h4 style="margin-top: 20px;">We operate in 6 main locations contributing to our PAN India presence</h4>
        <br>
        <ul>
            <strong>
        <li>Gurgaon - Head Office</li>
        <li>Noida</li>
        <li>Mumbai</li>
        <li>Pune</li>
        <li>Bengaluru</li>
        <li>Chennai</li>
    </strong>
        </ul>

    </div>
    <div class = "col-6" style = "margin-top: 100px; margin-bottom: 20px;">
    <div #mapContainer id="map"></div>
</div>
</div>
</div>