<div id = container style="margin-top: 100px;">
<div class="row" style="margin-left: 20px; margin-right: 20px;" >
    <div class="col-6 ">
        <h1  style=" text-align: center;">Pioneer SMT</h1>
        <br>
        <strong>
            <h4  style=" text-align: center;">Our Services</h4>
            <ul>
            <li>Turnkey Solutions Provider for Capital Equipment Required in Electronics Manufacturing and Wire Harness Industry</li>
            <li>Turnkey Solutions for E-mobility Industry</li>
            <li>Solutions tailored for customer specific Manufacturing and techno commercial needs</li>
            <li>product portfolio for high mix, high automation and low to medium production capacities</li>
            <li>back all solutions with PAN India Customer Support</li>
                </ul>
        </strong>
    </div>
    <div class="col-6">
        <h1 style="text-align: center;">PST Global</h1>
        <br>
        <strong>
            <h4  style=" text-align: center;">Our Services</h4>
            <ul>
            <li>Global Equipment Supplier for Manufacturing industry focusing in India, Sea and Mena</li>
            <li>High Technology Intergrator using technical Skills , Sourcing to building specific application centric solutions</li>
            <li>Bridge the Technology gap in Manufacturing industry requirements by Sourcing and providing plug and play solutions</li>
            </ul>
        </strong>
    </div>
</div>

</div>