<h2>Key Clients</h2>
<div style="margin-top: 30px; margin-bottom: 30px;" class = "divsizer">

  <div class="row"  style="margin-top: 30px; margin-bottom: 30px; margin-left: 230px; margin-right: 30px;">
    <div class="col-md-2 col-md-offset-1">
      <img class="img-fluid imagesize mx-auto d-block" src="https://pioneersmt.s3.ap-south-1.amazonaws.com/Foxconn.jpg"  />
    </div>
    <div class="col-md-2">
      <img class="img-fluid imagesize mx-auto d-block " src="https://pioneersmt.s3.ap-south-1.amazonaws.com/MagnetiMarelli.png" />
    </div>
   
    <div class="col-md-2">
      <img class="img-fluid imagesize  mx-auto d-block" src="https://pioneersmt.s3.ap-south-1.amazonaws.com/panasonic.png" />
    </div>
    <div class="col-md-2">
      <img class="img-fluid imagesize  mx-auto d-block" src="https://pioneersmt.s3.ap-south-1.amazonaws.com/HyundaiMobis.jpg" />
    </div>
    <div class="col-md-2">
      <img class="img-fluid imagesize  mx-auto d-block" src="https://pioneersmt.s3.ap-south-1.amazonaws.com/indigrid.png" />
    </div>
   </div>
  </div>