<div class="container">

    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <p class="h1"> Assembly Processes We Support</p>
        </div>
        <div class="col">
        </div>
      </div>

      <br>
      
    <div class="row">
        <div class="col">
            <h2> PCB Assembly</h2>
            <img src="https://pioneersmt.s3.ap-south-1.amazonaws.com/PCBASSEMBLY.jpg"  align = "right" width= "200px" height="200px" >
            <p>A printed circuit board electronics assembly / production or manufacturing process there are a number of individual stages. However it is necessary for them all to work together to form an integrated overall process. Each stage of assembly and production must be compatible with the next, and there must be feedback from the output to the input to ensure that 
                the highest quality is maintained. In this way any problems are detected quickly and the process can be adjusted accordingly</p>
        </div>
        <div class="col">
            <h2>Wire Harness Assembly</h2>
            <img src = "https://pioneersmt.s3.ap-south-1.amazonaws.com/WIREHARNESS.jpg" align = "right" width ="200px" height="200px">
            <p>A Wire Harness, also known as a cable harness or wiring assembly, is a grouping of wires, cables, or subassemblies designed to transmit signals or electrical power. A basic Wire Harness may include as few as three discreet components,
                 while the more classic harnesses include many more wires and other passive, and potentially active, components.</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <h2> E mobility Assembly</h2>
            <img src="https://pioneersmt.s3.ap-south-1.amazonaws.com/emobility.jpg" align = "right" width= "200px" height="200px">
            <p>Electric mobility, according to the definition of the German government and the National Development Plan for Electric Mobility (NEP) comprises all street vehicles that are 
                powered by an electric motor and primarily get their energy from the power grid – in other words: can be recharged externally.</p>
        </div>
        <div class="col">
            <h2>Lithium Ion Battery Assembly</h2>
            <img src = "https://pioneersmt.s3.ap-south-1.amazonaws.com/WIREHARNESS.jpg" align = "right"  width ="200px" height="200px">
            <p>An electrically and physically connected group of cells (battery) or modules (battery assembly) with a complete electronics, physical
                packaging appropriate for the application and the communications and power connections which mate with the device it will power.</p>
        </div>
      </div>
<br>
<br>

</div>