<div class = "container">
    <div class = "col">
        <h1 style="text-align: center; margin-top: 100px;">SMT Products</h1>
        <br>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Screen Printing Systems</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pick and Place Systems</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">PCB handling Systems</h5>
      </div>
    </div>
  </div>
    </div>
    <br>
    <div class="col">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Selective Soldering Systems</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Video Microscopes</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">F/A Solder Paste Printer with Long Board Option</h5>
      </div>
    </div>
  </div>
    </div>
<br>
    <div class="col">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src=".../100px200/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Inspection Equipments</h5>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src=".../100px200/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">BGA Workstations</h5>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src=".../100px200/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PCB Routers</h5>
              </div>
            </div>
          </div>

    </div>
<br>
        <div class = "col-4">
            <div class="card">
              <img class="card-img-top" src=".../100px200/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">X-Ray Machines</h5>
              </div>
            </div>
        </div>
</div>
<br>

<div class="container">

<h1 style="text-align: center; margin-top: 30px;"> Wire Harness and Customized Solutions</h1>
<br>
<div class="col">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Wire Harness Machines</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pin Insertion Machines</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Laser Marking Systems</h5>
          </div>
        </div>
      </div>

</div>

<br>

<div class="col">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cleaning Solutions for Electronics Assembly</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Robotic Solutions for Screwing Applications</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Robotic Solutions for Dispensing Solutions</h5>
          </div>
        </div>
      </div>

</div>

<br>

<div class="row">
<div class="col-4">
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Resistance Welding Machines</h5>
          </div>
        </div>
</div>
<div class="col-4">

</div>
    <div class = "col-4">
        <div class="card">
          <img class="card-img-top" src=".../100px200/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">International Logistics and Customized Solutions</h5>
          </div>
        </div>
    
    </div>
    <br>
</div>
<br>

</div>